{
  "presets": [
    [
      "env",
      {
        "targets": ">= ie10",
        "useBuiltIns": "entry"
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    ["babel-plugin-import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "true",
    }]
  ]
}