{
  "presets": [
    [
      "env",
      {
        "targets": ">= ie10",
        "useBuiltIns": "entry"
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css" // `style: true` 会加载 less 文件
    }]
  ]
}